/**
 * On Tablet
 * Breakpoints are inspired by https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/utils/breakpoint-values.js
 */

@media (max-width: 782px) {
	.is-style-on-tablet-left {
		justify-content: flex-start !important;
		text-align: left;
		> * {
			justify-content: flex-start !important;
			text-align: left;
		}
	}
}
