/* Navigation
--------------------------------------------- */
@use "../base/variables" as *;

@media screen and (min-width: $medium) {
	.wp-block-navigation
		.has-child:not(.open-on-click):hover
		> .wp-block-navigation__submenu-container {
		width: 240px;
		box-shadow: var(--wp--preset--shadow--x-large);
		.wp-block-navigation-item:hover {
			background-color: var(--wp--preset--color--base-2);
		}
		.wp-block-navigation-item a:hover {
			color: var(--wp--preset--color--contrast-3);
		}
		.wp-block-pages-list__item {
			border-radius: 3px;
		}
	}
}
.wp-block-navigation a:not([href]) {
	cursor: context-menu;
	&:hover {
		text-decoration: none;
	}
}

/**
 * Bittner Krull Navigation
 */

.wp-block-navigation:not(.has-background):has(.is-style-bittnerkrull-navigation) .wp-block-navigation__responsive-container.is-menu-open{

	/* Close Button */
	.wp-block-navigation__responsive-container-close{
		color: white;
	}

	/* Navigation */
	.wp-block-navigation
		.has-child:not(.open-on-click):hover
		> .wp-block-navigation__submenu-container {
		box-shadow: none;
	}


	background-color: var(--wp--preset--color--brand-2);

	/* Links */
	a{
		color: var(--wp--preset--color--base-3);
		display: block;
		width: 100%;
	}
	a:hover{
		color: var(--wp--preset--color--base-2) !important;
	}
}




@media (min-width: $small) {
	.wp-block-navigation:has(.is-style-bittnerkrull-navigation) .wp-block-site-logo{
		display: none;
		visibility: hidden;
	}
}
