<!-- wp:group {"className":"","style":{"position":{"type":""}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header-transparent"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"","style":{"spacing":{"margin":{"top":"-90px","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:-90px;margin-bottom:0"><!-- wp:post-content {"className":"","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->