/** PRIMARY NAVIGATION **/
// .wp-block-navigation ul li {
// 	list-style: none;
//   }

//   .wp-block-navigation ul li ul {
// 	list-style: none;
// 	padding: 0;
//   }

//   .current-menu-item a {
// 	font-weight: bold;
//   }

//   .current-menu-item ul a {
// 	font-weight: normal;
//   }

.wp-block-navigation
	.has-child:not(.open-on-click):hover
	> .wp-block-navigation__submenu-container {
	width: 240px;
	box-shadow: var(--wp--preset--shadow--x-large);
	.wp-block-navigation-item:hover {
		background-color: var(--wp--preset--color--base-2);
	}
	.wp-block-navigation-item a:hover {
		color: var(--wp--preset--color--contrast-3);
	}
}

/** mobile **/
//   nav .wp-block-navigation__responsive-container-open {
// 	padding: 0.5rem;
// 	width: 100%;
// 	justify-content: center;
//   }
//   nav .is-menu-open .wp-block-navigation ul li {
// 	padding: 0;
//   }
//   nav .is-menu-open .wp-block-navigation__responsive-container-content * {
// 	width: 100%;
// 	display: block;
//   }
//   nav .is-menu-open .wp-block-navigation__responsive-container-content * a {
// 	border-bottom: 1px solid var(--wp--preset--color--base-2);
//   }
//   nav .is-menu-open ul ul {
// 	padding: 0 !important;
// 	width: 100% !important;
// 	padding-left: 4em !important;
//   }
//   nav ul > li.wp-block-navigation-item:hover {
// 	border-bottom: none;
//   }
