.is-style-bittnerkrull-frontpage-logowall {
	figure {
		max-width: 120px;
		filter: grayscale(100%) opacity(0.6);
		transition: all 200ms ease-in-out;
	}

	figure:hover {
		filter: none;
		transform: scale(1.2);
		z-index: 999;
		box-shadow: var(--wp--preset--shadow--large);
	}
}

/* Produkte - Text Reveal */
.is-style-bittnerkrull-produkte {
	text-shadow:
		0px 3px 16px #004f71,
		0px 3px 3px rgba(0, 0, 0, 0.8);
	* {
		transition: all 200ms ease-in-out;
		interpolate-size: allow-keywords;
	}
	.wp-block-cover__inner-container .reveal {
		opacity: 0;
		transform: scaleY(0);
		transform-origin: 50% 100%;
		height: 0px;
	}
	&:hover .wp-block-cover__inner-container .reveal {
		opacity: 1;
		transform: scaleY(1);
		height: auto;
	}
	/* Animation */
	.has-background-dim {
		opacity: 0;
		display: none;
	}
	&:hover .has-background-dim {
		display: inherit;
		opacity: 1;
	}

	a,
	h4 a {
		color: white;
		text-decoration: none;
	}

	// a:after {
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	content: "";
	// 	overflow: clip;
	// }
}

/**
 * Helper class: Text Shadow
 */

.bittnerkrull-text-shadow {
	p {
		text-shadow:
			0px 3px 16px #004f71,
			0px 3px 3px rgba(0, 0, 0, 0.8);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.9);
	}
}
