/* Cleverreach
  * Frontpage Newsletter Formç
--------------------------------------------- */

.cr_form {
	label {
		margin-top: 24px;
		font-size: var(--wp--preset--font-size--small);
	}
	input[type="text"] {
		border-radius: 6px;
		line-height: 2.5;
		font-size: 1rem;
		width: 100%;
		border: none;
		margin-bottom: var(--wp--preset--spacing--20);
	}
	button {
		background-color: var(--wp--preset--color--brand-3);
		color: var(--wp--preset--color--base);
		padding: 12px 24px;
		border: none;
		font-size: 1rem;
		font-family: var(--wp--preset--font-family--open-sans);
		border-radius: 8px;
	}
}
